*{
    margin:0px;
    padding:0px;
    text-align: center;

}

h1{
    background-color: indigo;
    color:#fff;
    font-size: 3rem;
}

.choice:hover{
  
    cursor:pointer;
    border-color:indigo;

}

.choice{
    height:150px;
    width:150px;
    border-radius: 50%;
    border: 0.5rem solid transparent;
   
    
}

img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:3rem;
    margin-top: 3rem;
}

.msg-container{
    margin-top:6rem;
    font-size: 2.7rem;
    background-color: indigo;
    display: inline-block;
    padding:1rem;
    color:white;
    border-radius: 0.8rem;
    

}

